@page "/manualheadprofiling"
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <FinalForm />
        <h1>We're moving in the right direction</h1>
        <!-- Logout Button -->
        <button @onclick="@(() => Navigation.NavigateTo("authentication/logout", forceLoad: false))">Logout</button>
    </Authorized>

    <NotAuthorized>
        <h1>You are not authorized to view this content.</h1>
        <!-- Login Button -->
        <button @onclick="@(() => Navigation.NavigateTo("authentication/login", forceLoad: false))">Login</button>
    </NotAuthorized>
</AuthorizeView>
