<div>
    <h1> Personnel</h1>
    <input type="text" @bind="Data" />
    <button @onclick="SubmitData">Submit</button>
    <p>You said: @SubmittedData</p>
</div>

@code {
    private string Data;
    private string SubmittedData;

    private void SubmitData()
    {
        SubmittedData = Data;
    }
}