<div>
    <h1> Well Type</h1>
    <select @bind="SelectedWellType">
        <option value="Waterloo MLS">Waterloo MLS</option>
        <option value="FLUTe MLS">FLUTe MLS</option>

    </select>
    <button @onclick="SubmitData">Submit</button>
    <p>You said: @SubmittedData</p>
</div>

@code {
    private string Data;
    private string SubmittedData;
    private string SelectedWellType;

    private void SubmitData()
    {
        SubmittedData = SelectedWellType;
    }
}